<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Tell Squidward what you want{{else}}Have Spongebob make another{{/if}}
	</button>

</li>